.Wall {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}


.Slider {
  display: flex;
}


  .Slider--animated {
    composes: Slider;

    transition: transform 0.5s ease-in-out;
    transform: translateX(-50vw);
  }


  .Slider--not-animated {
    composes: Slider;

    transform: translateX(0);
  }


.ImageContainer {
  height: 100vh;
  min-width: 50vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
