@import url(http://fonts.googleapis.com/css?family=Montserrat);body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}
.index__Wall___1scWl {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}


.index__Slider___3bho0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


  .index__Slider--animated___ppQv2 {

    -webkit-transition: -webkit-transform 0.5s ease-in-out;

            transition: transform 0.5s ease-in-out;
    -webkit-transform: translateX(-50vw);
        -ms-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }


  .index__Slider--not-animated___1AU7H {

    -webkit-transform: translateX(0);

        -ms-transform: translateX(0);

            transform: translateX(0);
  }


.index__ImageContainer___aDqb9 {
  height: 100vh;
  min-width: 50vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
