@import url(http://fonts.googleapis.com/css?family=Montserrat);body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}
.index__Wall___1scWl {
  width: 100vw;
  height: 100vh;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
}


.index__ImageContainer___aDqb9 {
  height: 100vh;
  min-width: 20vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.example-leave {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.example-leave.example-leave-active {
  -webkit-transform: translate3d(100vw, 0, 0);
          transform: translate3d(100vw, 0, 0);
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
}

.example-enter {
  -webkit-transform: translate3d(-100vw, 0, 0);
          transform: translate3d(-100vw, 0, 0);
}

.example-enter.example-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
}
